* {

	font-family: monospace;


}


body {
	background-color: #0D0208;
	background-image: url(../img/anonymous666.jpg);
	background-size: auto 100vh;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;

}

p {

	color: #008F11;
}


h1 {
	font-size: 70px;
	color: #008F11;
	height: 7em;
	display: flex;
	align-items: center;
	justify-content: center;
	animation: coding 1s ease-in-out infinite alternate;
}


@keyframes coding {

	from {

		text-shadow: 0 0 5px #003B00, 0 0 10px #008F11, 0 0 15px #00FF41, 0 0 20px #003B00;

	}


	to {

		text-shadow: 0 0 5px #00FF41, 0 0 10px #008F11, 0 0 15px #003B00 0 0 20px #00FF41;

	}


}


/* Width */

::-webkit-scrollbar {
width: 30px;
}

/* Track */

::-webkit-scrollbar-track {

	background: #0D0208;
}

/* Handle */

::-webkit-scrollbar-thumb {
	border-width: 20px;
	border-radius: 20px;
	box-shadow: 0 0 12px #B809CA,0 0 32px blue;
	background:#B809CA;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
	background:#ffd1dc;
}